* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}
header {
  background-image: -moz-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url('../images/Layer\ 15.png');
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url('../images/Layer\ 15.png');
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url('../images/Layer\ 15.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
@media screen and (min-resolution: 2dppx) {
  header {
    background-image: -moz-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.8) 0%,
        rgba(243, 129, 129, 0.8) 100%
      ),
      url('../images/Layer\ 15@2x.png.png');
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.8) 0%,
        rgba(243, 129, 129, 0.8) 100%
      ),
      url('../images/Layer\ 15@2x.png.png');
    background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.8) 0%,
        rgba(243, 129, 129, 0.8) 100%
      ),
      url('../images/Layer\ 15@2x.png.png');
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-top: 28px;
}
.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10rem;
}
.nav_link:not(:last-child) {
  margin-right: 55px;
}
.nav_link {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  transition: color 0.2s linear;
  fill: rgb(255, 255, 255);
}
.nav_link:hover,
.nav_link:focus {
  color: rgb(252, 227, 138);
  text-decoration: underline;
  fill: rgb(252, 227, 138);
}

.link__logo {
  margin-right: auto;
  font-size: 30px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.title {
  font-size: 72px;
  font-family: 'Kaushan Script', cursive;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.subtitle {
  font-size: 150px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
  padding-bottom: 7.5rem;
}
.button-more {
  margin: 0 auto;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  width: 164px;
  height: 44px;
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}
.button-more:hover,
.button-more:focus {
  color: rgb(46, 3, 3);
  border-color: rgb(46, 3, 3);
  background-color: rgb(248, 163, 93);
}
.services {
  max-width: 1200px;
  margin: 44px auto 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.service__card {
  width: 380px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding-bottom: 90px;
}
.card__about {
  width: 300px;
}
.card__about p {
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
.card__name {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 18px;
}
.services-list {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team-title,
.services-title {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: rgb(51, 51, 51);
  line-height: 1.2;
}
.team-subtitle:after,
.services-subtitle:after {
  display: block;
  content: '_____';
  color: rgb(243, 129, 129);
}
.team-subtitle,
.services-subtitle {
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 30px;
  font-family: 'Montserrat';
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.team {
  max-width: 1200px;
  margin: 0 auto 100px;
  padding-bottom: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.team__blog {
  max-width: 980px;
  margin: 0 auto 90px;
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.team__name {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  padding-top: 26px;
  padding-bottom: 10px;
}
.team__about {
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
}
.team__card {
  width: 380px;
  height: 470px;
  background-color: rgb(149, 225, 211);
}
.team__foto {
  transition: all 0.2s linear;
}
.team__foto:hover {
  transform: translate(-10px, -10px);
}
.team__foto:hover > .submenu {
  display: flex;
}

.submenu {
  width: 380px;
  height: 470px;
  display: none;
  list-style: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 2px 1px white;
  background: -moz-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.75) 0%,
    rgba(243, 129, 129, 0.75) 100%
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.75) 0%,
    rgba(243, 129, 129, 0.75) 100%
  );
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.75) 0%,
    rgba(243, 129, 129, 0.75) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a69b9b9b', endColorstr='#00000000', GradientType=0);
}
.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 56px;
  width: 56px;
  background-color: rgb(252, 227, 138);
  margin-right: 1px;
}
.icon:hover {
  background-color: rgb(149, 225, 211);
}
.icon:focus {
  background-color: rgb(149, 225, 211);
}

.facebook {
  background-image: url('../images/facebook.png');
}
.twitter {
  background-image: url('../images/twitter.png');
}
.pinterest {
  background-image: url('../images/pinterest.png');
}
.instagram {
  background-image: url('../images/instagram.png');
}

footer {
  background-color: rgb(202, 114, 253);
  border-top: 1px solid #000;
}
.footer__section {
  max-width: 1200px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.footer__section p {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(51, 51, 51);
  line-height: 1.2;
}
.footer__section p span {
  color: rgb(246, 166, 166);
}
.search__email {
  display: flex;
  justify-content: center;
}
.search__email input {
  height: 40px;
  width: 230px;
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
  border: 1px solid rgb(204, 204, 204);
}
.search__email button {
  height: 40px;
  width: 150px;
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  background-color: rgb(149, 225, 211);
  border: none;
  cursor: pointer;
}
